<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CognitoIdentity" version="3.3.101.104" targetFramework="net472" />
  <package id="AWSSDK.CognitoIdentityProvider" version="3.3.111" targetFramework="net472" />
  <package id="AWSSDK.Core" version="3.3.107.18" targetFramework="net472" />
  <package id="AWSSDK.Extensions.CognitoAuthentication" version="0.9.4" targetFramework="net472" />
  <package id="AWSSDK.SecurityToken" version="3.3.105.22" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net472" />
</packages>